table, tr, td {
   border: 2px solid black;
   margin-left: 400px;
   margin-top: 70px;
   width: 350px;
   height: 60px;
}

div#enter-page div.control-group {
  margin-top: 20px;
}

div#restart-game {
  height: 650px;
  width: 86%;
  background-color: powderblue;
  margin-left: 90px;
  margin-top: -295px;
}
